# Node & dependencies
node_modules/
.pnpm-store/

# Expo
.expo/
dist/
web-build/

# Native builds
android/.gradle/
android/app/build/
android/build/
android/app/src/main/assets/index.android.bundle
android/local.properties
android/.idea/
ios/Pods/
ios/build/
*.xcworkspace
*.pbxproj

# Environment variables
.env
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System files
.DS_Store
Thumbs.db
*.log
