# Node & dependencies
node_modules/
.pnpm-store/

# Expo / Web builds
.expo/
dist/
web-build/

# Native Android / iOS builds
android/.gradle/
android/app/build/
android/build/
android/app/src/main/assets/index.android.bundle
android/local.properties
android/.idea/
ios/Pods/
ios/build/
*.xcworkspace
*.pbxproj

# Environment & Secret files
.env
.env*
*.env*
**/.env*
*.keystore
*.jks
*.p8
*.p12
*.mobileprovision

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# System files & tooling
.DS_Store
Thumbs.db
.idea/
.vscode/
